<footer class="text-center p-4 divisor">
    <div>
        <div class="colorTexto">Fran Gallego ∙ 2024</div>
        <div class="mt-2"><a class="colorTexto" href="https://github.com/fragalado" target="_blank">Github</a> ∙ <a
                class="colorTexto" href="https://www.linkedin.com/in/francisco-jos%C3%A9-gallego-dorado-364a3820b/"
                target="_blank">Linkedin</a></div>
        <div class="mt-2">
            <a href="https://www.paypal.com/donate/?hosted_button_id=BY9579XRBZZJN">
                <img src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif" alt="Donate with Paypal button">
            </a>
        </div>
    </div>
</footer>